*{
    margin:0;
    padding:0;
    text-align: center;
}
h1{
    background-color:#092635;
    color:white;
    height:4rem;
    padding:2.5rem;
    padding-top:2.5rem;
    font-size:3rem;
}
body{
    background-color: #1B4242;
    height:100%;
    width:100%;
}
.choices{
    display:flex;
    justify-content: center;
    align-items: center;
    margin:4.5rem;
    gap:3rem;

}
.choice{
    height:10rem;
    width:15rem;
    border-radius: 50%;
   
}
img{
    border: 3px solid black;
    height:13rem;
    width:13rem;
    object-fit: cover;
    border-radius: 50%;
}
.choice:hover{
    opacity: 70%;
    cursor: pointer;
}
.scores{
    color:aliceblue;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap:5rem;

}
#user-score,#comp-score{
    font-size: 4rem;
}
.msg-box{
    margin-top: 2rem;
}
#msg{
    background-color: #5C8374;
    color:rgb(238, 230, 230);
    font-size: 2rem;
    display: inline;
    padding:1rem;
    border:1px solid black;
    border-radius: 15px;
}
.choice-msg{
    background-color: #1B4242;
    color:white;
    margin-top:2rem;
    font-size: 1.5rem;
}
@media (max-width:1030px){
    h1{
        height:4rem;
        padding:1.5rem;
        padding-top:2rem;
        font-size:3rem;
    }
    .choices{
        margin-top: 2.5rem;
        margin-left:5rem;
    }
    #msg{
        font-size: 1.9rem;
    }
}
@media (max-width:790px){
    h1{
        height:4rem;
        padding:1.5rem;
        padding-top:2rem;
        font-size:3rem;
    }
    .choices{
        margin-top: 2.5rem;
        margin-left:5rem;
    }
    #msg{
        font-size: 1.9rem;
    }
}
@media (max-width:430px){
    h1{
        height:4rem;
        width:500px;
        padding:2.2rem;
        padding-top:2.5rem;
        font-size:2rem;
    }
    .choices{
        margin-left:13.3rem;
    }
    img{
        height:8.5rem;
        width:8.5rem;
    }
    .scores{
        margin-left:9.5rem;
    
    }
    .msg-box{
        margin-left:10rem;
    }
    .choice-msg{
        margin-left:10rem;
    }
}
@media (max-width:380px){
    .choices{
        margin-left:17rem;
    }
    .scores{
        margin-left:10rem;
    
    }
    .msg-box{
        margin-left:10rem;
    }
    .choice-msg{
        margin-left:10rem;
        font-size: 1.5rem;
    }
}
@media (max-width:330px){
    .choices{
        margin-left:17.5rem;
    }
    #msg{
        font-size: 1.9rem;
    }
}